body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.status-symbol{
    font-size: 100px;
}

#ok-symbol{
    color: seagreen;
}
.glyphicon-trash{
    color: #E22323;
}
.glyphicon-exclamation-sign{
    color: #E22323;
}

#addMachineForm{
    padding: 10px;
    margin: 0px 10px 0px 0px;
}
   /*.sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    .row.content {height: 550px}*/
    
    
    /*
    Original version: http://www.bootply.com/128062
    
    This version adds support for IE 10+ and Firefox.
*/

.glyphicon-exclamation-sign{
    padding: 0px 10px 0px 0px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}