extends layout

block headerEnd
    link(rel='stylesheet', href="/stylesheets/index.css")

block content
  .clock
    #Date
    ul
        li#hours
        li#point :
        li#min
        li#point :
        li#sec
  
  
block javascript
    script(src="/javascripts/clock.js")
