doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap-theme.min.css")
    block headerEnd
  body
    block content
    
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js")
    script(src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js")
    
    block javascript
