extends layout

block content  
    .container-fluid
            .col-sm-4
                .panel.panel-default
                    .panel-body
                        .row
                            .col-md-1
                            .col-md-10
                        
                                .row
                                    button.btn.btn-success(data-toggle="collapse" data-target="#addMachineForm") Add new Machine
                        .row
                            form.form-horizontal.collapse.panel.panel-default#addMachineForm( method="post" action="/computer" name="computer")
                                .form-group
                                    label(for="ip-address" class="col-sm-2 control-label") IP-Address
                                    .col-sm-10
                                        input(type="text" class="form-control" id="ip-address" placeholder="x.x.x.x" name="ip")
                                .form-group
                                    label(for="dns" class="col-sm-2 control-label") DNS Name
                                    .col-sm-10
                                        input(type="text" class="form-control" id="dns" placeholder="dns name" name="dns")
                                .form-group
                                    .col-sm-offset-2.col-sm-10
                                        button.btn.btn-default(type="submit") Save
                        .row
                            table.table.table-striped.table-hover.table-responsive#computerTable
                                thead
                                    tr: th #
                                        th IP-address
                                        th DNS
                                        th
                                        th
                                tbody
                                    - each computer, index in computers
                                        tr
                                            td 
                                                = (index + 1)
                                            td.iptable
                                                = computer.ip
                                            td.dnstable&attributes({'data-pk': computer.ip, 'contenteditable':'true' })
                                                = computer.dns
                                            td.text-center
                                                if (computer.pings != null)                                         
                                                        if( computer.pings[computer.pings.length - 1].status )        
                                                            - var change = computer.pings[computer.pings.length - 1].status
                                                                - each ping in computer.pings.reverse()
                                                                    - if(ping.status != change)
                                                                        p.date=ping.date
                                                                        - break
                                                            i.glyphicon.glyphicon-ok-circle.popovers&attributes(  )
                                                        else
                                                            - var change = computer.pings[computer.pings.length - 1].status
                                                            - each ping in computer.pings.reverse()
                                                                - if(ping.status != change)
                                                                    p.date=ping.date
                                                                    - break
                                                            a.update(href="#")
                                                                i.glyphicon.glyphicon-exclamation-sign.popovers&attributes( )
                                                                i.glyphicon.glyphicon-refresh
                                                else
                                                    a.update(href="#")
                                                        i.glyphicon.glyphicon-exclamation-sign
                                                        i.glyphicon.glyphicon-refresh
                                            td.right-align
                                                i.glyphicon.glyphicon-trash
                                        
            .col-sm-8.text-center.center-block
                .panel.panel-default
                    .panel-body
                        .col-sm-4
                        .col-sm-4
                            if ( statusGood )
                                i.glyphicon.glyphicon-ok-circle.status-symbol#ok-symbol
                            else
                                i.glyphicon.glyphicon-exclamation-sign.status-symbol
                            .well
                                if( computers.length > 0 )
                                    if( computers[0].pings != null)
                                        p Last ping: 
                                            p.date#keep= computers[0].pings[0].date
    //-            
       - each computer, index in computers         
        - var change = computer.pings[computer.pings.length - 1].status
            - each ping in computer.pings.reverse()
                - if(ping.status != change)
                    h1= ping.status
                    p=  ping.date
                    - break