doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://bootswatch.com/slate/bootstrap.min.css")
  body
    block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="javascripts/editableTable.js")
    script(src='javascripts/index.js')
    script(src='javascripts/update.js')