.logo{
    font-size: 50px;
    color: #f4511e;
}

.small-icon{
    padding: 5px
}

.container-fluid {
    padding: 60px 50px;
}

@media screen and (min-width: 768px) {
    .sm-screen {
        display: none;
        text-align: center;
        margin: 25px 0;
    }
}

@media screen and (max-width: 768px) {
    .lg-screen {
        display: none;
        text-align: center;
        margin: 25px 0;
        padding: 100px 25px;
        background: url("/images/QUWPLI693K.jpg") no-repeat center center fixed;      
    }
}

.scroll-down .btn {
  height: 50px;
  width: 50px;
  border: 2px solid darkslategrey;
  border-radius: 100% !important;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: darkslategrey;
  font-size: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  margin: auto;
}

.scroll-down {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}

.scroll-down .btn:hover {
  color: lightslategrey;
  border-color: lightslategrey;
  outline: none;
}

.bg-grey {
    background-color: #f6f6f6;
}

html, body {
  height: 100%;
  width: 100%;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.home {
  background: url("/images/QUWPLI693K.jpg") no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sendTLF{
    margin: 5px, 0px , 0px, 0px;
}

#flytting, #flytting h2, #flytting h4{
    background: darkgrey;
    color: whitesmoke;
}

#flytting .glyphicon {
  border: 2px solid whitesmoke;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#graving .glyphicon {
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#telefonnummer * {
    font-size:20px;
    padding: 15px;
}

#telefonnummer > a {
    color: black;
}