extends layout

block content
    .home.lg-screen#home
        .container.text-vcenter
            .row
                h1= title
                p Legg igjen et telefonnummer så ringer jeg opp igjen
            .row
                form(id="telephone-form" class="form-inline" role="form")
                    .row
                        .form-group.form-group-lg
                            .input-group
                                .input-group-addon +47
                                input(type="tel" class="form-control" placeholder="Telefonnummer" maxlength="8" id="telephoneNumber" required pattern="/^((0047)?|(\+47)?|(47)?)\d{8}$/")    
                    .row
                        br
                        button.btn.btn-danger.btn-lg(id="sendTLF") Send
            .row#telefonnummer
                a(href="tel:911 43 395")
                    span.glyphicon.glyphicon-phone-alt 
                    | 911 43 395
            .row
                .scroll-down
                    a.btn.scroll-down(href="#about-med" )
                        span.glyphicon.glyphicon-menu-down

    .container-fluid.bg-grey#about-med
        .row.text-center.slideanim
            h2.text-center Om meg
            hr
            .col-sm-2
            .col-sm-2
                img.img-circle.img-responsive(src="images/walterWhite.jpg")            
            .col-sm-6
                .row
                    h4 Stig Liabø
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                .row
                    h4 Maskinstasjon
                    p Etablert 1995, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

    .container-fluid#graving
        .row.text-center.slideanim
            h2.text-center Grave arbeid
            hr
            .col-sm-3.col-xs-6
                i.glyphicon.glyphicon-home
                h4 Drenering
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.
            .col-sm-3.col-xs-6
                i.glyphicon.glyphicon-tree-conifer
                h4 Planering
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.
            .col-sm-3.col-xs-6
                i.glyphicon.glyphicon-road
                h4 Veibygging
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.
            .col-sm-3.col-xs-6
                i.glyphicon.glyphicon-inbox
                h4 Fundament
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.
    
    .container-fluid.slideanim#flytting
        .row.text-center.slideanim
            h2 Flytting
            hr
            .col-sm-4.col-xs-6
                i.glyphicon.glyphicon-globe
                h4 Flytting i inn og utland
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.
            .col-sm-4.col-xs-6
                i.glyphicon.glyphicon-bed
                h4 Kjøring av masse
                p Skriv om levering og bortkjøring av masse. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.
            .col-sm-4.col-xs-6
                i.glyphicon.glyphicon-oil
                h4 Godstransport
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.
                    
    .container-fluid.bg-grey#tjenestevei
        h2.text-center Ta kontakt
        hr
        .row
            .col-md-4
                h1 1. Du tar kontakt
                form(role="form" id="sendMailForm")
                    .row
                        .col-sm-6.form-group
                            input(class="form-control" id="name" name="name" placeholder="Navn" type="text" required)
                        .col-sm-6.form-group
                            input(class="form-control" id="email" name="email" placeholder="Epost" type="email" required)
                    textarea(class="form-control" id="comments" name="comments" placeholder="Kommentar" rows="5" required)
                    br
                    .row
                        .col-sm-12.form-group
                            button.btn.btn-default.pull-right(type="submit" id="sendMail") Send

            .col-md-4
                h1 2. Vi avtaler befaring
                .row
                    .col-sm-4
                        img.img-circle.img-responsive(src="images/12773825.jpg")
                    .col-sm-8
                        p Vi blir enige om pris, omfang og tid
                        p Uforpliktende, gratis befaring
            .col-md-4
                h1 3. Jeg utfører arbeidet
                .row
                    .col-sm-4
                        img.img-circle.img-responsive(src="images/worker-of-construction-working-with-a-shovel-beside-material-pile_318-62011.png")
                    .col-sm-8
                        p Til avtalt tidsramme og pris
                        p Jeg utfører arbeidet
                        p Samarbeider med andre aktører
                        
    footer(class="container-fluid")
        hr
        .row
            .col-lg-4.text-left
                address
                    .row
                        .col-xs-6
                            p
                                span(class="glyphicon glyphicon-map-marker small-icon")
                                | Klæbu, Trondheim
                        .col-xs-6
                            p
                                span(class="glyphicon glyphicon-phone small-icon")
                                a(href="tel:+47 911 43 395") +47 911 43 395
                    .row
                        .col-xs-6
                            p
                                span(class="glyphicon glyphicon-envelope small-icon")
                                a(href="mailto:stigliabo@hotmail.com?Subject=Kontakt%20fra%20nettsiden") stigliabo@hotmail.com              
                        .col-xs-6
                            p
                                span(class="glyphicon glyphicon-envelope small-icon")
                                | Org nr: 963 489 870 
            .col-lg-4.text-center
                a(href="#home" title="To Top")
                    span(class="glyphicon glyphicon-chevron-up")
                    p Til toppen
            .col-lg-4.text-right
                p Laget av 
                    a(href="www.WhiteDog.no" title="Visit") www.whitedog.no
                    p Copyright &copy; Your Company 2015
                        
    .modal.fade#myModal&attributes({'role':'dialog'})
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal") &times;
                    h4.modal-title Takk for din henvendelse
                .modal-body
                    p Hei. Jeg har mottatt følgende telefonummer: 
                        span.lead#motattTlf xxx xx xxx
                    p Jeg ringer deg opp så fort jeg får anledning.
                    p MVH Stig
                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Lukk
                    
    .modal.fade#myModalSuccess&attributes({'role':'dialog'})
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal") &times;
                    h4.modal-title Takk for din henvendelse
                .modal-body
                    p Hei. Jeg har mottatt eposten din.
                    p Jeg tar kontakt så fort jeg får tid.
                    p Ha en fortsatt fin dag.
                    p MVH Stig
                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Lukk
                    
    .modal.fade#errorModal&attributes({'role':'dialog'})
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal") &times;
                    h4.modal-title Beklager, men det skjedde en feil
                .modal-body
                    // if errors  
                    //     ul
                    //         for error in errors
                    //             li!= error.msg
                    .error-message
                        ul
                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Lukk
    
    .modal.fade#pleaseWaitDialog&attributes({'role':'dialog', 'data-backdrop':"static", 'data-keyboard':"false"})
        .modal-dialog
            .modal-content
                .modal-header
                    h1 Prosesserer...
                .modal-body
                    .progress.progress-striped.active
                        .bar&attributes({'style':'width: 100%'})
        
                    
    button(type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#myModal") Open modal