doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/index.css")   
    meta(name="viewport" content="width=device-width, initial-scale=1")   
    block headerend
    
  body
    block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src='javascripts/global.js')
    script(src="javascripts/sendmail.js")
    script(src="javascripts/sendPhoneNumber.js")
    